/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ==========================================================================/* Code par défaut sur mobile */

/*.test{
  width:300px;
  max-height:250px;
  background-color: #000;
}*/
.centrer{
  margin: 0 auto;
  width: 100%;
  height: 50vw;
  /*max-width:800px;*/
  /*min-height:50vh;*/
}
/* partie guillaume */

body{
  font-family: 'Montserrat', sans-serif;
}
  .container{
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
  }

   section input{
     padding: 2%;
     margin: 0 auto;
     text-align: center;
     height: auto;

   }
   .hide_n_seek{
     background-color: #3264b4;
     width: 100%;
     max-width: 100%;
   }

   a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.7);
   }

   .btn_loupe {
     padding: 2%;
     width: 15px;
     margin: 0 auto;
     background-color: #ec0b43;
     color: #ffffff;
     margin: 0;
   }

   ul li{
     list-style-type: none;
   }
 /* partie guillaume  */


 /*
  * Hide visually and from screen readers
  */

 .hidden {
     display: none !important;
 }

 /*
  * Hide only visually, but have it available for screen readers:
  * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  */

 .visuallyhidden {
     border: 0;
     clip: rect(0 0 0 0);
     height: 1px;
     margin: -1px;
     overflow: hidden;
     padding: 0;
     position: absolute;
     width: 1px;
 }

 /*
  * Extends the .visuallyhidden class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */

 .visuallyhidden.focusable:active,
 .visuallyhidden.focusable:focus {
     clip: auto;
     height: auto;
     margin: 0;
     overflow: visible;
     position: static;
     width: auto;
 }

 /*
  * Hide visually and from screen readers, but maintain layout
  */

 .invisible {
     visibility: hidden;
 }

 /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */

 .clearfix:before,
 .clearfix:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }

 .clearfix:after {
     clear: both;
 }


 /**/



   	/*==========  Mobile First Method  ==========*/

       /* Custom, iPhone Retina */
       @media only screen and (min-width : 320px) {

       }

       /* Extra Small Devices, Phones */
       @media only screen and (min-width : 480px) {

       }

       /* Small Devices, Tablets */
       @media only screen and (min-width : 768px) {

       }

       /* Medium Devices, Desktops */
       @media only screen and (min-width : 992px) {
         .centrer{
           margin: 10% auto 0;

           max-width:800px;
           max-height:500px;
         }

       }

       /* Large Devices, Wide Screens */
       @media only screen and (min-width : 1200px) {

       }















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
